.hidden {
  display: none;
}
.mercury-activate {
  position: absolute;
  top: 0px;
  display: block !important;
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  background: white;
  z-index: 2000;
}
.mercury-activate article {
  display: block;
  float: none;
  background-image: none !important;
  border-bottom: 1px solid grey;
  padding-left: 50px;
}
.mercury-activate img {
  max-width: 400px;
  display: block !important;
}
.mercury-activate p {
  font-size: 1.2em;
  width: 70%;
}
.mercury-activate .close_button {
  position: absolute;
  top: 0px;
  right: 100px;
}
